<div class="box-it">
    <form [formGroup]="form" (ngSubmit)="processForm()">
        <div>
            <label for="name">Name: </label>
            <input type="text" id="api" size="25" placeholder="Enter Name" formControlName="name">
        </div>
        <div>
            <label for="email">Search: </label>
            <input type="text" id="email" size="25" placeholder="Enter Email" formControlName="email">
        </div>

        <button [disabled]="form.invalid" type="submit" >Submit</button>




    </form>
</div>