<form [formGroup]="form" (ngSubmit)="searchForm()">
    <table>
        <tr>
            <td>API Key:</td>
            <td>
                <input type="text" size="25" placeholder="API Key" formControlName="api">
            </td>
        </tr>
        <tr>
            <td>Search:</td>
            <td>
                <input type="text" placeholder="Search" formControlName="search">
            </td>
        </tr>
        <tr>
            <td>Limit:</td>
            <td>
                <select formControlName="limit">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>

                </select>
            </td>

        </tr>
        <tr>
            <td>Rating:</td>
            <td>
                <select formControlName="rating">
                    <option value="g">g</option>
                    <option value="pg">pg</option>
                    <option value="pg-13">pg-13</option>
                    <option value="r">r</option>
                </select>
            </td>

        </tr>
        <tr>
            <td></td>
            <td>
                <button [disabled]="form.invalid" type="submit">Submit</button>
            </td>
        </tr>
    </table>

</form>
